.star {
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 999;
}

html,
body {
  padding: 0;
  margin: 0;
  background-image: url(./image/TEXTURE-background.jpg);
  background-attachment: fixed;
}

main {
  height: 300vh;
}

p {
  font-family: helvetica, sans-serif;
  color: #eee;
}

.banner {
  height: 400px;
  width: 100%;
  background-color: rgba(127, 255, 212, 0);
  background-image: url(./image/lucas-y-yo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

@media only screen and (min-width: 768px) {

  .banner {
    height: 800px;
    width: 100%;
    background-color: rgba(127, 255, 212, 0);
    background-image: url(./image/lucas-y-yo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
  }

}
