@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');

@media only screen and (min-width: 768px) {

  .fixed-top {
    display: none;
    display: flex;
    justify-content: space-evenly;
  }

  // desktop navbar

  @mixin flexAround {
    display: flex;
    justify-content: space-evenly;
  }
  
  header {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
  }
  
  nav {
    width: 100%;
    @include flexAround();
    align-items: center;
    min-height: 8vh;
    padding: 20px 0%;
    transition: all 0.9s ease;
    position: fixed;
    z-index: 99999;
    background-color: #8eaecf;
    &:hover {
      color: #8eaecf;
    }
  }
  
  .logo-desktop {
    width: 8rem;
  }
  
  .logo {
    transition: all 0.9s ease;
  }
  
  .navbar-brand {
    font-family: "Montserrat", sans-serif;
    font-size: 15px
  }
  
  a {
    @include flexAround();
    width: 40%;
    font-family: "Montserrat", sans-serif;
    list-style: none;
    color: #fff;
    font-weight: bold;
    a {
      color: 303030;
      text-decoration: none;
      letter-spacing: 3px;
      font-size: 10px;
      font-weight: bold;
      transition: all 0.3s ease 0s;
      &:hover {
        color: #303030;
      }
    }
  }
  
  .products-nav a {
    color: #303030;
  }
  
  .burger {
    display: none;
    cursor: pointer;
    div {
      width: 25px;
      height: 3px;
      background-color: #303030;
      margin: 5px;
      transition: all 0.5s ease;
    }
  }
  
  .login-desktop {
    padding: 9px 25px;
    background-color: rgba(244, 247, 73, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
      background-color: rgba(244, 247, 73, 0.8);
    }
  }
  
  .login-mobile {
    display: none;
  }

}

.brand-letter {
  font-family: 'Fleur De Leah', cursive;
  font-size: 24px;
  color: #303030;
  text-decoration: none;
}

.brand-letter-1 {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  color: #303030;
  text-decoration: none;
}

.bg-menu {
  background-color: #8eaecf;
  transition: 0.5s ease;
}

@media only screen and (max-width: 600px) {
  .desktop-navbar {
    display: none;
    position: fixed;
  }
  .navbar {
    padding-top: 0;
  }
  nav {
    // backdrop-filter: blur(5px);
    padding: 0;
    .container {
      padding: 0;
    }
    .navbar-collapse {
      height: 100vh;
      top: 0;
    }
    .nav-link {
      color: aliceblue !important;
      text-align: center;
      font-size: 2rem;
      margin-bottom: 1rem;
      margin-top: 3%;
    }
    .navbar-toggler {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      margin-top: 10px;
      position: relative;
      transition: .5s ease-in-out;
  }
  
  .navbar-toggler,
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
      outline: none;
      box-shadow: none;
      border: 0;
      position: relative;
  }
  
  .navbar-toggler span {
      margin: 0;
      padding: 0;
  }
  
  .toggler-icon {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: #303030;
      border-radius: 2px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
  }
  
  .middle-bar {
      margin-top: 0px;
  }
  
  
  /* State when the navbar is collapsed */
  
  .navbar-toggler.collapsed .top-bar {
      position: absolute;
      top: 0px;
      transform: rotate(0deg);
  }
  
  .navbar-toggler.collapsed .middle-bar {
      opacity: 1;
      position: absolute;
      top: 10px;
      filter: alpha(opacity=100);
  }
  
  .navbar-toggler.collapsed .bottom-bar {
      position: absolute;
      top: 20px;
      transform: rotate(0deg);
  }
  
  /* when navigation is clicked */
  
  .navbar-toggler .top-bar {
      top: inherit;
      transform: rotate(135deg);
  }
  
  .navbar-toggler .middle-bar {
      opacity: 0;
      top: inherit;
      filter: alpha(opacity=0);
  }
  
  .navbar-toggler .bottom-bar {
      top: inherit;
      transform: rotate(-135deg);
  }
  
  /* Color of 3 lines */
  
  // .navbar-toggler.collapsed .toggler-icon {
  //     background: linear-gradient( 263deg, rgba(252,74,74,1) 0%, rgba(0,212,255,1) 100% );
  // }
  }
  .container-buttons{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    .nav-link {
      width: 100%;
      text-align: center;
    }
  }
  .buttons {
    display: flex;
    flex-direction: column;
  }
}
